header {
    background-color: black;
    color : white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding : 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.messLine {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width : 80%;
    border: solid black 3px;
}